@import url("https://fonts.cdnfonts.com/css/balinest");

@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas-cont {
  background-color: black;
  height: 100vh !important;
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    3deg,
    rgba(0, 0, 0, 1) 42%,
    rgba(61, 27, 139, 1) 100%
  );
}
@media (width < 1200px) {
  .canvas-cont {
    height: 80vh !important;
  }
}
